.trail {
    fill: none;
    stroke-width: 1;
    display: block;
    margin: auto;
    stroke-linejoin: round;
}

.states {
    fill: none;
    stroke: white;
    stroke-linejoin: round;
    display: block;
    margin: auto;
}

.counties {
    fill: grey;
    stroke: grey;
    display: block;
    margin: auto;
}